<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/app.css" />
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="about__link">
            <a href="">About</a>
        </div>
        <div class="contact">
            <ul class="contact__links">
                <li><a href="">Email</a></li>
                <li><a href="">Github</a></li>
                <li><a href="">Linkedin</a></li>
            </ul>
        </div>
    </header>
    <main class="main">
        <div class="project">
            <div class="project__title">
                <h1>TEST</h1>
            </div>
            <div class="project__description">

            </div>
            <div class="project__links">
                <p>Web Dev Project</p>
                <p>C# Unity Rest Apis</p>
                <p>Github</p>
                <p>Playstore</p>
                <p>Itch.io</p>
            </div>
        </div>
    </main>
</body>
</html>