* {
	padding: 0;
 	margin: 0;
  	box-sizing: border-box;
    --big: 4rem;
    --medium: 2rem;
    --regular: 1.6rem;
    --small: 1.2rem;
    --main-padding:6vw;
    --colorLink:#040B47;
    --colorlink_highlight:#DB910C;
    --colorB:#3E3EB8;
    --colorC:#32385C;
    --colorD:#F7F7C8;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope-Light.otf') format('opentype');
    font-weight: 300; /* Light weight */
    font-style: normal;
  }

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope-Bold.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }

  @font-face {
    font-family: 'Nohemi';
    src: url('/fonts/Nohemi-Bold.otf') format('opentype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }

a {
    --line-progress: 0%;
    position: relative;
    text-decoration: none;
    color: var(--colorlink_highlight);
}

a:before {
    content: "";
    width: var(--line-progress);
    background-color: var(--colorlink_highlight);
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0
}
