
.markdown h1 {
    font-family: "Nohemi";
    font-weight: 300;
  }
  
  .markdown p {
    font-family: "Manrope";
    font-weight: 300;
    font-size: 1.25rem;
  }

  .markdown img {
    width: 100%;
  }