
.markdown h1 {
    font-family: "Nohemi";
    font-weight: 300;
  }
  
  .markdown p, th {
    font-family: "Manrope";
    font-weight: 300;
    font-size: 1.25rem;
    margin: 1rem 0;
  }

  .markdown img {
    width: 100%;
  }
