---
import "../styles/globals.css";
import Projects from "../components/Projects.astro";
import About from "../components/about.astro";
import Skills from "../components/skills.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="page__container">
            <About />
            <br /><br /><br />
            <Skills />
            <br /><br /><br />
            <Projects />
        </div>
    </body>
</html>

<style>
    .page__container {
        height: fit-content;
        width: 100%;
    }
</style>

<script>
    import gsap from "gsap";

    for (let e of document.querySelectorAll("a")) {
        let t = gsap.timeline({ paused: true }).fromTo(
            e,
            {
                "--line-progress": "0%",
            },
            {
                "--line-progress": "100%",
                ease: "none",
                duration: 0.6,
            }
        );

        e.onmouseenter = () => {
            t.tweenTo(t.duration(), {
                ease: "expo.out",
            });
        };
        e.onmouseleave = () => {
            t.tweenTo(0, {
                ease: "expo.out",
            });
        };
    }
</script>
