---
import "../styles/globals.css";
import Projects from "../components/Projects.astro";
import About from "../components/about.astro";
import Skills from "../components/skills.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="page__container">
            <About />
            <br /><br /><br />
            <Skills />
            <br /><br /><br />
            <Projects />
        </div>
        <div id="about__container"></div>
    </body>
</html>

<style>
    .page__container {
        height: fit-content;
        width: 100%;
    }

    body {
        position: relative;
        color: wheat;
    }

    #about__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
</style>

<script>
    import Sketch from "../sketch2";
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    for (let e of document.querySelectorAll("a")) {
        let t = gsap.timeline({ paused: true }).fromTo(
            e,
            {
                "--line-progress": "0%",
            },
            {
                "--line-progress": "100%",
                ease: "none",
                duration: 0.6,
            }
        );

        e.onmouseenter = () => {
            t.tweenTo(t.duration(), {
                ease: "expo.out",
            });
        };
        e.onmouseleave = () => {
            t.tweenTo(0, {
                ease: "expo.out",
            });
        };
    }

    const canvas_gl = new Sketch({
        dom: document.getElementById("about__container"),
    });

    let pageTransition = { progress: 0 };

    ScrollTrigger.create({
        trigger: ".skills__title",
        start: "top 45%",
        end: "top 65%",
        onEnter: () => {
            gsap.to(pageTransition, {
                progress: 1,
                duration: 1,
                ease: "power2.out",
                onUpdate: () => {
                    canvas_gl.material.uniforms.pagetransition.value =
                        pageTransition.progress;
                },
            });
        },
        onEnterBack: () => {
            gsap.to(pageTransition, {
                progress: 0,
                duration: 1,
                ease: "power2.in",
                onUpdate: () => {
                    canvas_gl.material.uniforms.pagetransition.value =
                        pageTransition.progress;
                },
            });
        },
        markers: false,
    });
</script>
