---

---

<p class="contact_links">
    <a
        class="contact_link"
        href="mailto:felipe.loaizama@gmail.com"
        target="_blank">Email</a
    > -
    <a class="contact_link" href="https://github.com/Kolark" target="_blank"
        >Github</a
    > -
    <a
        class="contact_link"
        href="https://www.linkedin.com/in/felipeloaiza/"
        target="_blank">Linked In</a
    >
</p>

<style>
    .contact_links {
        color: var(--colorC);
    }
</style>

<script>
    import gsap from "gsap";

    gsap.fromTo(
        ".contact_link",
        {
            opacity: 0,
        },
        {
            opacity: 1,
            stagger: 0.15,
            duration: 0.75,
            ease: "power2.out", // Smooth easing
        }
    );
</script>
