---
import projects from "../../public/projects.json";
import ProjectCard from "./project_card.astro";
console.log(projects);
---

<div class="projects__container">
    <h1 class="projects__title">PROJECTS</h1>
    <h2 class="projects__subtitle">Personal & work related</h2>
    <div class="projects__list">
        {projects.map((e) => <ProjectCard info={e} />)}
    </div>
</div>

<style>
    .projects__container {
        background-color: burlywood;
    }

    .projects__title {
        font-size: clamp(3rem, 10vw, 8rem);
        font-family: "Nohemi";
        text-align: center;
    }

    .projects__subtitle {
        width: 100%;
        font-size: clamp(1rem, 5vw, var(--medium));
        font-family: "Manrope";
        text-align: center;
        font-weight: 300;
        background-color: blueviolet;
    }

    .projects__list {
        background-color: antiquewhite;
        margin: 0 20vw;
    }
</style>
