---
import projects from "../../public/projects.json";
import ProjectCard from "./project_card.astro";
console.log(projects);
---

<div class="projects__container">
    <h1 class="projects__title">PROJECTS</h1>
    <h2 class="projects__subtitle">Personal & work related</h2>
    <div class="projects__list">
        {projects.map((e) => <ProjectCard info={e} />)}
    </div>
</div>

<style>
    .projects__container {
    }

    .projects__title {
        font-size: clamp(3rem, 10vw, 8rem);
        font-family: "Nohemi";
        text-align: center;
    }

    .projects__subtitle {
        width: 100%;
        font-size: clamp(1rem, 5vw, var(--medium));
        font-family: "Manrope";
        text-align: center;
        font-weight: 300;
    }

    .projects__list {
        margin: 5vh 20vw 0 20vw;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media only screen and (max-width: 1024px) {
        .projects__list {
            margin: 5vh 5vw 0 5vw;
        }
    }
</style>
