---
import "../styles/globals.css";
---

<div class="skills_interests__container">
    <h1 class="skills__title skills_elm">Skills</h1>
    <div class="skills_list skills_elm">
        <p class="skills_list-text" id="movingText">
            Unity-C#-GLSL-Python-Git-Javascript-Next JS-SQL-
        </p>
        <p class="skills_list-text">
            Unity-C#-GLSL-Python-Git-Javascript-Next JS-SQL-
        </p>
        <p class="skills_list-text">
            Unity-C#-GLSL-Python-Git-Javascript-Next JS-SQL-
        </p>
    </div>
    <h1 class="interests__title skills_elm">Interests</h1>
    <div class="interests__list">
        <div class="interests__container">
            <p class="interest">Graphics Programming</p>
            <p class="interest">Game Dev</p>
            <p class="interest">AI</p>
        </div>
    </div>
</div>

<style>
    .skills__title,
    .interests__title {
        font-family: "Nohemi";
        font-weight: 700;
        font-size: clamp(var(--medium), 8vw, var(--big));
        text-align: center;
        margin-top: 10vh;
    }

    .skills_list {
        border: 2px solid black;
        margin-top: 2vh;
        width: 100%;
        font-size: clamp(var(--small), 5vw, var(--medium));
        font-family: "Manrope";
        font-weight: 300;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden; /* Hide overflow to make it look seamless */
    }

    .skills_list-text {
        white-space: nowrap; /* Prevent line breaks */
        display: inline-block;
    }

    .interests__list {
        display: flex;
        justify-content: center;
    }

    .interests__container {
        padding: 2vw;
        width: fit-content;
        border: 2px solid black;
        text-align: center;

        font-size: clamp(var(--small), 5vw, var(--medium));
        font-family: "Manrope";
        font-weight: 300;
    }
</style>

<script>
    import gsap from "gsap";

    // Select the moving text element
    // GSAP conveyor belt animation

    // Select the moving text element
    const movingText = document.getElementById("movingText");

    // Duplicate the text content for seamless looping
    const textWidth = movingText.offsetWidth;
    // const containerWidth = movingText.parentElement.offsetWidth;

    gsap.to(".skills_list-text", {
        duration: 5,
        ease: "none",
        x: `+=-${textWidth}`, //move each box 500px to right
        modifiers: {
            x: gsap.utils.unitize((x) => parseFloat(x) % textWidth), //force x value to be between 0 and 500 using modulus
        },
        repeat: -1,
    });

    const tl = gsap.timeline({
        scrollTrigger: {
            trigger: ".interests__container",
            start: "top 75%",
            end: "top 25%",
            toggleActions: "play none reverse none",
        },
    });

    tl.fromTo(
        ".interests__container",
        {
            clipPath: "inset(0% 0% 100% 0%)",
        },
        {
            clipPath: "inset(0% 0% 0% 0%)",
        }
    );
    tl.fromTo(
        ".interest",
        {
            opacity: 0,
        },
        {
            opacity: 1, // Fade in
            stagger: 0.25,
        }
    );

    gsap.fromTo(
        ".skills_elm",
        { opacity: 0 },
        {
            opacity: 1,
            duration: 1,
            scrollTrigger: {
                trigger: ".skills__title",
                start: "top 50%",
                end: "top 50%",
                toggleActions: "play none reverse none",
                markers: true,
            },
        }
    );
</script>
