
:root {
	--about-size : 100vw;
	--skills-size : 40vw;
	--projects-size : 100vw;
	--columns-size : 40vw;
	--about_margin: 5rem 2vmin;
	--gap-length : 5vw;
	--skills-margin: 0rem 0vmin 5rem 8vmin;
}
/* + calc(6*var(--columns-size) + 110vh) */
body {
	position: relative;
	height: calc(var(--about-size)+var(--projects-size) - 100vw + 100vh + calc(var(--columns-size)*6 + var(--gap-length)*5 + 115vh));
	width: 100vw;
	max-width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	overflow-x: hidden;
}

.main-content {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: calc(var(--about-size)+ var(--projects-size));
	display: grid;
	grid-template-columns: 100vw 100vw;
	grid-auto-rows: 1fr;

	/* border: solid 4px red; */

}

/* -----ABOUT-------- */
.about {
	position: relative;
	display: flex;
	justify-content: center;
	/* border: solid 4px orchid; */
}

#name {
	display: block;
	font-size: clamp(1.25rem,8vw,2.9rem);;
}

.about-content {
	position: absolute;
	margin: var(--about_margin);
	width: max(70vw,70vmin);
	text-align: center;
	font-family: "geosans";
	font-size: clamp(1rem,6vw,2.3rem);
}

.projects {
	width: 50vw;
	height: 100%;
	position: relative;
}
.projects-mobile {
	display: none;
	position: relative;
}
.projects-container {
	position: absolute;
	height: fit-content;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.tlab {
	position: absolute;
	height: 100vh;
	width: 100px;
	background-color: chocolate;
	bottom:0;
	left: 0;
}
.up {
	position: absolute;
	top: 0;
	width: 50px;
	height: 50px;
	background-color: red;
}
.down {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 50px;
	background-color: red;

}
.container {
	height: fit-content;
	width: var(--columns-size);
	grid-auto-rows: var(--columns-size);
	padding-top: 100vh;
	padding-bottom: 15vh;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap-length) 0;
}


.project {
	background-color :chartreuse;
	border: solid 3px rgb(139, 35, 224);
}

.project:last-child{
	background-color: darkred;
}

/* -----skills */
.skills {
	position: relative;
	display: block;
	width: var(--skills-size);
	height: 100%;
}

.skills__content {
	margin: var(--skills-margin);
	font-size: 1.75rem;
	font-family: "geosans";
	
}

.skills__content h2 {
	font-family: "lexendMega";
	color: var(--text);
	text-align: left;
}
.skills__content p {
	line-height: 2.125rem;
}

.skill {
	transition: all 100ms;
}
.skill:hover {

	padding: 0.125rem 1rem;
	border-radius: 2rem;
}

/*  */

.section-container {
	display: flex;
	width: 100vw;
	justify-content: space-around;
	/* border: solid 4px coral; */
}


@media screen and (max-width: 1024px) {

	body {
		height: fit-content;
	}

	.main-content {
		position: relative;
		height: 150vh;
		width: 100vw;

		display: grid;
		grid-template-columns: 1fr;
		gap: 10rem 0;
		grid-auto-rows: max(50vh,50vmax) 100vh;
	}

	.about {
		justify-content: center;
		align-content: center;
		align-items: center;
		border: solid 2px chartreuse;
	}
	.about-content {
		height: fit-content;
		width: 90%;
		font-size: clamp(1rem,6vw,2.8rem);
	
	}

	.section-container {
		flex-direction: column;
		justify-content: flex-start;
		gap: 0 0;
		margin: 0;
		padding: 0;
		border: solid 2px chartreuse;
	}

	.projects {
		display: none;
	}

	.projects-mobile {
		display: block;
		width: 100%;
		height: 50%;
		max-width: 100vw;
		background-color: darkgoldenrod;
	}
	.skills {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 50%;
		background-color:rgb(255, 102, 0);
	}
	
	.skill__type {
		border: solid 1px rgb(0, 4, 255);
	}

	.skills__content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: 1rem 0 0 0;
		width: 90%;
		background-color: deeppink;
	}

	.skills__content h1 {
		margin: 0;
		font-size: clamp(1.75rem,5vw,3rem);
		text-align: center;
	}

	.skills__content h2 {
		margin: 0 0 0 0;
		font-size: clamp(1.5rem,4vw,2.5rem);
		text-align: center;
	}

	.skills__content p {
		margin: 0.1rem 0.175rem 0.175rem 0.175rem;
		font-size: clamp(1.25rem,4vw,2.5rem);
		text-align: center;
	}

	.mobile-disable {
		display: none;
	}
}

.project_img {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: crimson;
}

.project_img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}


.project__info {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.project__title {
	font-family: "geosans";
	color: white;
	font-size: 3.5rem;
	text-decoration-line: underline;
}

.swiper {
	width: 100%;
	height: 100%;
	background-color:rgb(45, 141, 16);
	border: solid 2px rgb(80, 255, 197);
}

