:root {
    --view2_size : 350vw;
}
.homepage__content {
    /* width: fit-content; */
    display: grid;
    grid-template-columns: 100vw var(--view2_size);
    grid-template-rows: 100vh;
}
/* VIEW1 */
.view_1 {
    margin: 0;
    padding: 0%;
    background-color: darksalmon;
}

.about {
    color: var(--text);
    font-family: "geosans";
    font-size: clamp(1rem,4vw,2.5rem);
}

.about-content {
    margin: 16vmin 12vmax;
    background-color: cornflowerblue;
}

#name {
    display: block;
    font-size: clamp(1.25rem,5vw,2.75rem);
}
/*END VIEW1 */
/* VIEW2 */
.view_2 {
    background: rgb(10,255,207);
background: linear-gradient(90deg, rgba(10,255,207,1) 0%, rgba(255,157,20,1) 44%, rgba(60,44,249,1) 50%, rgba(230,213,27,1) 100%);
    position: relative;
}

.skills {
    position: absolute;
    height: 100vh;
    width: 40vw;
    left: 0vh;
    padding: 10vmin 0rem 5rem 2.5rem;
    background-color: crimson;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 2rem 0;
    font-size: clamp(1.5rem,15vw,4rem);
}

.skills_container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill__type h2 {
    margin-top: 0;
    margin-bottom: 0.25rem;
    color: var(--text);
    font-family: "lexendMega";
    font-size: clamp(1.5rem,5vw,2.25rem);
}
.skill {
    display: inline;
    font-family: "geosans";
    margin: 1rem 1rem 1rem 0rem;
    font-size: clamp(1.25rem,4vw,2rem);
}

.skill:hover {

	padding: 0.125rem 1rem;
    border: solid 1px chartreuse;
	border-radius: 2rem;
}

.projects {
    left: 60vw;
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-color:coral
}

.projects_title {
    position: absolute;
    height: fit-content;
    width: 100%;
    left: 0;
    top: 0;
    background-color: darkmagenta;
    font-family: "lexendMega";
    font-size: clamp(1rem,6vw,3rem);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem 0;
    padding-top: 100vh;
    padding-bottom: 10vh;
}

.project_instance {
    position: relative;
    width: 40vw;
    height: 40vw;
    background-color: darksalmon;
    border: solid 2px red;
}

.projects_link {
    height: 100%;
    width: 100%;
}

.project_instance img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.title:hover {
    color: blue;
}

.projects_info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.projects__mobile {
    display: none;
    position: relative;
}
/* END VIEW2 */
@media screen and (max-width: 1024px) {
    .homepage__content {
        grid-template-columns: 100vw;
        grid-template-rows: 70vh 100vh;
    }

    .about-content {
        margin: 6vw 6vw;
        text-align: justify;
        font-size: clamp(1rem,7vw,2.5rem);
    }
    #name {
        font-size: clamp(1.25rem,8vw,2.75rem);
    }
    .skills {
        position: relative;
        height: 55%;
        width: 100vw;
        background-color: darkblue;
        padding: 0;
    }
    .skills .title {
        text-align: center;
        margin: 0;
    }
    
    .skill__type h2 {

        font-size: clamp(1.5rem,5vmax,2.25rem);
    }
    .skill {
        font-size: clamp(1.25rem,4vmax,2rem);
    }
    .skills_container {
        background-color: chartreuse;
    }
    .skill__type {
        border: solid 2px royalblue;
        text-align: center;
    }
    .mobile_disable {
        display: none;
    }
    .projects {
        display: none;
    }
    .projects__mobile {
        position: relative;
        display: block;
        height: 45%;
        width: 100vw;
        background-color: brown;
    }
}

/* MOBILE SWIPER */




.swiper {
	width: 100%;
	height: 100%;
}



.project__mobile {
	height: 100%;
	width: 100%;
	position: relative;
	/* display: flex;
	justify-content: center;
	align-items: flex-end; */
}
.project__mobile img {
	height: 100%;
	width: 100%;
    object-fit: cover;
}

.project__mobile-info {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	font-family: "geosans";
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.project__mobile-title {
    font-size: clamp(1rem,8vw,2.5rem);
	color: var(--text);
}
.project__mobile-link a{
	position: relative;
	border-radius: 2rem;
	padding: 0.25rem 1.5rem 0.5rem 1.5rem;
    background: radial-gradient(ellipse at top, rgb(255, 112, 112), transparent),
    radial-gradient(ellipse at bottom, #68cf13, transparent);
    font-size: clamp(1rem,8vw,2.5rem);
    filter: invert(10%);
    color: var(--text);
    text-decoration: none;
}

.project__mobile-link h2 {
	display: inline;
	color: white;
	margin: 0;
	padding: 0;
}


/* END MOBILE SWIPER */