
:root {
	--about-size : 100vw;
	--skills-size : 40vw;
	--projects-size : 220vw;
	--columns-size : 22.5vw;
	--about-margin: 5rem 3vmin;
	--gap-length : 50vmin;
	--skills-margin: 0rem 0vmin 5rem 8vmin;
}

body {
	position: relative;
	height: calc(var(--about-size)+var(--projects-size)  - 100vw + 100vh);
	width: 100vw;
	max-width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	overflow-x: hidden;
}

.main-content {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: calc(var(--about-size)+ var(--projects-size) + 4*(var(--columns-size)+var(--gap-length)));;
	background-color: rgba(137, 43, 226, 0.171);
	border: solid 0.4px rgb(242, 247, 0);

	display: grid;
	grid-template-columns: 100vw calc(var(--about-size)+ var(--projects-size) + 4*(var(--columns-size)+var(--gap-length)) - 100vw);
	grid-auto-rows: 1fr;

}


.main-section {
	border: 0.1px solid rgb(0, 255, 85);
}
/* -----ABOUT-------- */
.about {
	position: relative;
	display: flex;
	justify-content: center;

}

#name {
	display: block;
	font-size: clamp(1.25rem,8vw,2.9rem);;
}

.about-content {
	position: absolute;
	/* top: var(--margin-top); */
	margin: var(--about-margin);
	width: max(70vw,70vmin);
	text-align: center;
	font-family: "geosans";
	font-size: clamp(1rem,6vw,2.3rem);
	background-color: rgb(46, 48, 47);
}

/*  */

.projects {
	width: 50vw;
	height: 100%;
	background-color: crimson;
	position: relative;
}


.projects-container {
	position: absolute;
	height: fit-content;
	width: 100%;
	top: 100%;
	display: flex;
	justify-content: space-around;
}

.container {
	height: fit-content;
	width: var(--columns-size);

	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: var(--columns-size);
	gap: var(--gap-length) 0;

	background-color: rgb(11, 184, 63);
}


.project {
	background-color :chartreuse;
}

.right {
	margin-top: calc(((22.5vw - var(--gap-length))/2) + var(--gap-length));
}

.squaretest {
	background-color: chartreuse;
	border: solid 2px orchid;
}

/* -----skills */
.skills {
	position: relative;
	display: block;
	width: var(--skills-size);
	height: 100%;
	background-color: rgba(137, 43, 226, 0.267);
}

.skills__content {
	margin: var(--skills-margin);
	font-size: 1.75rem;
	font-family: "geosans";
}

.skills__content h2 {
	font-family: "lexendMega";
	color: var(--text);
	text-align: left;
}
.skills__content p {
	line-height: 2.125rem;
}

.skill {
	transition: all 100ms;
	border-color: rgb(255, 0, 119);
}
.skill:hover {

	padding: 0.125rem 1rem;
	border: solid 0.1rem rgb(255, 0, 119);
	border-radius: 2rem;
}

/*  */

.section-container {
	display: flex;
	width: 100vw;
	justify-content: space-around;
	border: solid 1px orangered;
}

/* ----TEST------ */
.test {
	position: absolute;
	width: 100vw;
	height: calc(var(--about-size)+var(--skills-size)+var(--projects-size) - 100vw + 100vh);
	background-color: rgba(0, 0, 0, 0.281);
	z-index: -10;
}


.squares {
	position: absolute;
	left: 50vw;
	top: 140vw;
}
.square {
	height: 200px;
	width: 200px;
	background-color: chartreuse;
	border: solid 2px red;
}

@media screen and (max-width: 1024px) {

	body {
		height: fit-content;
	}

	.main-content {
		position: relative;
		height: 300vh;
		width: 100vw;
		background-color: blueviolet;
		border: solid 0.4px rgb(242, 247, 0);

		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr 1fr 1fr;
	}

	.main-section {
		border: 0.4px solid rgb(255, 174, 0);
	}
	.about-content {
		top: minmax(10vmin,15vmax);
		width: 90vmin;
	}
}

