
:root {
	--about-size : 100vw;
	--skills-size : 40vw;
	--projects-size : 220vw;
	--columns-size : 22.5vw;
	--about_margin: 5rem 2vmin;
	--gap-length : 50vmin;
	--skills-margin: 0rem 0vmin 5rem 8vmin;
}

body {
	position: relative;
	height: calc(var(--about-size)+var(--projects-size)  - 100vw + 100vh);
	width: 100vw;
	max-width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg);
	overflow-x: hidden;
}

.main-content {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: calc(var(--about-size)+ var(--projects-size) + 4*(var(--columns-size)+var(--gap-length)));
	display: grid;
	grid-template-columns: 100vw calc(var(--about-size)+ var(--projects-size) + 4*(var(--columns-size)+var(--gap-length)) - 100vw);
	grid-auto-rows: 1fr;

	background-color: rgba(137, 43, 226, 0.171);

}

/* -----ABOUT-------- */
.about {
	position: relative;
	display: flex;
	justify-content: center;
}

#name {
	display: block;
	font-size: clamp(1.25rem,8vw,2.9rem);;
}

.about-content {
	position: absolute;
	margin: var(--about_margin);
	width: max(70vw,70vmin);
	text-align: center;
	font-family: "geosans";
	font-size: clamp(1rem,6vw,2.3rem);
	background-color: rgb(46, 48, 47);
}

.projects {
	width: 50vw;
	height: 100%;
	background-color: crimson;
	position: relative;
}
.projects-mobile {
	display: none;
	position: relative;
}
.projects-container {
	position: absolute;
	height: fit-content;
	width: 100%;
	top: 100%;
	display: flex;
	justify-content: space-around;
}

.container {
	height: fit-content;
	width: var(--columns-size);

	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: var(--columns-size);
	gap: var(--gap-length) 0;
}


.project {
	background-color :chartreuse;
}

.right {
	margin-top: calc(((22.5vw - var(--gap-length))/2) + var(--gap-length));
}


/* -----skills */
.skills {
	position: relative;
	display: block;
	width: var(--skills-size);
	height: 100%;
	background-color: rgba(137, 43, 226, 0.267);
}

.skills__content {
	margin: var(--skills-margin);
	font-size: 1.75rem;
	font-family: "geosans";
	
}

.skills__content h2 {
	font-family: "lexendMega";
	color: var(--text);
	text-align: left;
}
.skills__content p {
	line-height: 2.125rem;
}

.skill {
	transition: all 100ms;
}
.skill:hover {

	padding: 0.125rem 1rem;
	border-radius: 2rem;
}

/*  */

.section-container {
	display: flex;
	width: 100vw;
	justify-content: space-around;
}


@media screen and (max-width: 1024px) {

	body {
		height: fit-content;
	}

	.main-content {
		position: relative;
		height: 150vh;
		width: 100vw;

		display: grid;
		grid-template-columns: 1fr;
		gap: 10rem 0;
		grid-auto-rows: max(50vh,50vmax) 100vh;
	}

	.about {
		justify-content: center;
		align-content: center;
		align-items: center;
		border: solid 2px chartreuse;
	}
	.about-content {
		height: fit-content;
		width: 90%;
		font-size: clamp(1rem,6vw,2.8rem);
	
	}

	.section-container {
		flex-direction: column;
		justify-content: flex-start;
		gap: 0 0;
		margin: 0;
		padding: 0;
		border: solid 2px chartreuse;
	}

	.projects {
		display: none;
	}

	.projects-mobile {
		display: block;
		width: 100%;
		height: 50%;
		max-width: 100vw;
		background-color: darkgoldenrod;
	}
	.skills {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 50%;
		background-color:rgb(255, 102, 0);
	}
	
	.skill__type {
		border: solid 1px rgb(0, 4, 255);
	}

	.skills__content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: 1rem 0 0 0;
		width: 90%;
		background-color: deeppink;
	}

	.skills__content h1 {
		margin: 0;
		font-size: clamp(1.75rem,5vw,3rem);
		text-align: center;
	}

	.skills__content h2 {
		margin: 0 0 0 0;
		font-size: clamp(1.5rem,4vw,2.5rem);
		text-align: center;
	}

	.skills__content p {
		margin: 0.1rem 0.175rem 0.175rem 0.175rem;
		font-size: clamp(1.25rem,4vw,2.5rem);
		text-align: center;
	}

	.mobile-disable {
		display: none;
	}
}



.swiper {
	width: 100%;
	height: 100%;
	background-color:rgb(45, 141, 16);
	border: solid 2px rgb(80, 255, 197);
}