html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  *{margin:0;padding:0} 
body,
html {
    padding: 0;
    margin: 0;
}

body {
  background-color: black;
}

:root {
    --bg : #160C28;
    --title : #EFCB68;
    --text : rgb(255, 255, 255);
    --margin : 6vh 6vw;
    --w-margin: 6vw;
    --h-margin: 6vh;
    --bottom-margin : 3vmin;
    --max-fontsize : 2rem;
    --min-fontsize : 1rem;
    --fontsize: 10vmax;
}

@font-face {
  font-family: geosans;
  src: url(../fonts/GeosansLight.ttf);
}

@font-face {
  font-family: lexendMega;
  src: url(../fonts/LexendMega-ExtraLight.ttf);
}

section,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
}


p {
  /* font-family: "geosans"; */
  color: var(--text);
}

.title {
  font-family: "lexendMega";
  color: var(--title);
}

.curtain{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background: #949494;
  transform: translate(-100%,0)
}

[data-barba-namespace]{
  position: absolute;
  top: 0;
}

@media screen and (max-width: 1024px) {

  body {
    height: fit-content;
  }
  .curtain {
    display: none;
  }
}